<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>Neo4j Node Graph Example</title>
    <script type="text/javascript" src="d3.v2.js"></script>
    <script type="text/javascript" src="jquery-1.7.2.min.js"></script>
    <link rel="stylesheet" type="text/css" href="gluestick-ui.css" />
    <style>
	  rect.node {
			stroke: #333;
			stroke-width: 1px;
			opacity: .7;
			fill: #dadade;
		  }
      rect.button {
            width:50;
            height:20;
            fill: #000;
            stroke: #fff;
      }
      text.button_text{
            fill:#fff;
            font-size: 12px;
      }
      rect.toolbar{
          fill: #000;
          stroke: #000;
      }

	  line.link {
		  stroke: #666;
		  stroke-opacity: .3;
		  }

	</style>
  </head>
  <body>
    <div id="header"><h1>Gluestick</h1>
                     <h2>stick it to the man!</h2>
        </div>
        <div id="toolbar">
            <ul>
                <li><a href="#" class="toolSetter" action="nav">nav</a></li>
                <li><a href="#" class="toolSetter" action="addNode">+node</a></li>
                <li><a href="#" class="toolSetter" action="addLink">+link</a></li>
                <li><a href="#" class="toolSetter" action="anchor">+anchor</a></li>
                <li class="tooltip"></li>
            </ul>
        </div>
    <div id="chart"></div>
    <script type="text/javascript" src="front.js"></script>
  </body>
</html>