<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>Pasteboard - Edit</title>
    <script type="text/javascript" src="<%=params[:root] %>/d3.v2.js"></script>
    <script type="text/javascript" src="<%=params[:root] %>/jquery-1.7.2.min.js"></script>
    <link rel="stylesheet" type="text/css" href="<%=params[:root] %>/gluestick-ui.css" />
  </head>
  <body>
    <div id="header">
    	<div id="header-text">
    		<h1>Pasteboard</h1>
            <h2>Mind your P's and Q's!</h2>
        </div>
        <div id="toolbar">
            <ul>
                <li><a href="#" class="toolSetter" action="nav">nav</a></li>
                <li><a href="#" class="toolSetter" action="addNode">+node</a></li>
                <li><a href="#" class="toolSetter" action="addLink">+link</a></li>
                <li><a href="#" class="toolSetter" action="anchor">+anchor</a></li>
                <li class="tooltip"></li>
            </ul>
        </div>
    </div>
    <div id="chart"></div>
    <script type="text/javascript" src="<%=params[:root] %>/front.js"></script>
  </body>
</html>